body, html {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    /* overflow-y: scroll; */

    font-family: 'Scope One', serif;
}

h1 {
    /* font-family: 'Bokor', cursive; */
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    letter-spacing: 2px;
    color: white;
    margin: 0;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    letter-spacing: 2px;
    color: white;
    margin: 0;
    padding: 0;
}

p {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    color: white;
    font-size: 16px;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
}

.button-start {
    margin: 20px;
    position: absolute;
    font-size: 16px;
    cursor: pointer;
    z-index: 1000;
}

.middle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
    z-index: 3;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: solid 2px black;
    top: 101%;
    width: 98%;
    height: 250px;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

/* SECTIONS start */
main {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    height: 0%;
    width: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
}

section {
    background-color: rgb(52, 52, 52);
    width: 100%;
    height: 100%;

    top: 100%;

    position: absolute;
    transition: filter 250ms ease;

    overflow-y: scroll;
}

section::-webkit-scrollbar {
    display: none;
}

.flexWrap {
    display: flex;
    flex-wrap: wrap;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 15px;
    width: calc(50% - 2px);
}
.project-content {
    width: 75%;
    background-color: green;
}
.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project-image {
    width: 95%;
    height: 70%;
    overflow: hidden;
}
.project p {
    width: 75%;
    text-align: center;
    margin: 0;
}
.project a {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    letter-spacing: 2px;
    color: white;
    text-decoration: underline;
    cursor: pointer;
    font-weight: 600;
    margin: 0;
}
#projects {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
#projects::-webkit-scrollbar {
    display: none;
}

.project p a {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    color: white;
    font-size: 16px;
    padding: 0;
}

article {
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
}

article button {
    color: white;
    background-color: transparent;
    border: 2px solid black;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    transition: border 250ms ease;
}

article button:hover {
    border-bottom: 2px solid hotpink;
}

/* SECTIONS end */

/* HEADER start */

header {
    z-index: 1000;
    height: 20%;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    backdrop-filter: blur(5px);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: top 1s ease, transform 1s ease;
}

.welcome-wrap {
    position: relative;
    height: 100%;
    width: 650px;
}

nav {
    width: 650px;
    height: 20%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-top: 2px solid white;
}

nav ul button {
    color: white;
    border: none;
    width: 100%;
    height: 50%;
    cursor: pointer;
    background-color: transparent;
    font-size: 18px;
}

nav li {
    color: white;
    font-size: 22px;
    float: left;
}

nav button:hover {
    text-decoration: none;
}

.lineThrough {
    text-decoration: line-through;
}

.topWindow {
    top: 0;
    transform: translate(-50%, 0%);
}

/* HEADER end */

.rotateRight {
    transform: rotate(-20deg);
}

.rotateLeft {
    transform: rotate(20deg);
}

.lowerBrightness {
    filter: brightness(70%);
}

.flexCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.credits-behind {
    z-index: 1;
    filter: brightness(60%);
    outline: solid 2px black;
    position: absolute;
    background-color: purple;
    width: 100%;
    height: 100%;
}

.credits-content {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    height: 90%;
    border-radius: 25px;
    backdrop-filter: blur(3px);
    outline: 2px solid black;
    background-color: rgba(255, 255, 255, 0.2);
}

.marquee {
    font-size: 38px;
    letter-spacing: 2px;
    font-family: 'Chivo Mono', monospace;
}

.svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 1000px) {
    .fixedText {
        width: 1000px;
    }
}

@media screen and (max-width: 900px) {
    .project {
        width: 100%;
    }
}